@import './_colors.scss';

.ie9 html,
.ie9 body {
	overflow: auto;
}

html{

	&.no-scroll{
		overflow-y:hidden;
	}
}

body {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%; //fix for iOS
	background: white;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
	
	&.no-scroll{ overflow-y:hidden; }

	&.touch-enabled{
		cursor: pointer;
		*{ cursor: pointer !important; }
	}
}

*, *:before, *:after {
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//-webkit-backface-visibility: hidden;
	text-rendering: optimizeLegibility !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
		outline: 0;
}


a{
	text-decoration: none;
	color: inherit;
	transition: color 0.15s;
	cursor: pointer;
	
	&:hover{ color: $color-blue }

	&[target="_blank"]{
		cursor: alias;
	}
}

img{
	width: 100%;
	height: auto;
	display: block;
}


ul{
	display: block;
} 

hr{
	margin: 3rem auto;
	opacity: 0.3;
}

*[style*="border-image"]{
	border-image-slice: 1 !important;
}

::-webkit-input-placeholder {color: lighten($color-grey, 20%)}
::-moz-placeholder {color: lighten($color-grey, 20%)}
:-ms-input-placeholder {color: lighten($color-grey, 20%)}
:-moz-placeholder {color: lighten($color-grey, 20%)}