//@import '/src/style/_colors.scss';
@import '../../../style/_colors.scss';

.component.dragdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	transition: opacity 0.2s;
	z-index: 9999;

	*{
		pointer-events: none;
	}

	&:before{
		content: '';
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		border: 0.5rem dashed $color-blue;
		border-radius: 1rem;
		z-index: 1;
	}

	.inner{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
		max-width: 40rem;
		transform: translate(-50%, -50%);
		z-index: 2;
		opacity: 0;

		> * {
			display: block;
			margin: 0 auto;
		}
	}

	.logo{
		max-width: 20rem;
	}

	.icon{
		width: 6rem;
		height: 5rem;
		-webkit-mask-image: url('../../../assets/images/upload.svg');
		-webkit-mask-repeat: no-repeat;
		margin: 3rem auto;
	}

	.message{
		color: black;
		text-align: center;
		display: none;

		>span{
			display: block;
			margin-top: 1em;
		}
	}

	&[data-visible="true"]{
		opacity: 1;
		background: rgba(255,255,255, 0.8);
		width: 100%;
		height: 100%;
		.inner{ opacity: 1 }
	}

	&.accept{
		.icon{ background: $color-blue }
		.message.accept{ display: block }
	}

	&.reject{
		&:before{ border-color: $color-warning }
		.icon{
			background: red;
			-webkit-mask-image: url('../../../assets/icons/close.svg');
			-webkit-mask-size: contain;
		}
		.message.reject{ display: block }
	}
}
